body {
background: url("../scary.gif") left center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height: 700px
}

button {
  border-style: dotted;
  border-color: #DF01A5;
  height: 50px;
}