body {
background: url("../home.png") left center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height: 700px;
}

button {
  border-style: solid;
  border-color: #0007D1;
  height: 35px
}