button {
  border-style: solid;
  border-color: #0007D1;
  height: 50px
}

body {
background: url("../the-closet.png") left center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height: 500px;

}

h1 {
  font-family: 'Freckle Face', cursive;
}