button {
  border-style: solid;
  border-color: #0007D1;
}

body {
background: url("../the-closet.png") left center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

html {
  cursor: url("../cursor.cur")
}